:root {
	--background: rgb(0, 0, 0);
	--primary: rgb(36, 127, 144);
	--secondary: rgb(40, 40, 136);
	--font-color: white;

	--primary-hover: rgb(47, 200, 227);
	--primary-active: rgb(69, 158, 173);
	--secondary-hover: rgb(74, 74, 194);
	--secondary-active: rgb(26, 26, 168);
}
