:root {
	--background: rgb(197, 197, 197);
	--primary: rgba(47, 150, 168);
	--secondary: rgba(78, 78, 254);
	--font-color: rgb(0, 0, 0);

	--primary-hover: rgb(31, 98, 110);
	--primary-active: rgb(84, 174, 190);
	--secondary-hover: rgb(49, 49, 255);
	--secondary-active: rgba(78, 78, 254);
}
