@media (prefers-color-scheme: light) {
	:root {
		--background: rgb(197, 197, 197);
		--primary: rgba(47, 150, 168);
		--secondary: rgba(78, 78, 254);
		--font-color: rgb(0, 0, 0);

		--primary-hover: rgb(47, 200, 227);
		--primary-active: rgb(84, 174, 190);
		--secondary-hover: rgb(49, 49, 255);
		--secondary-active: rgba(78, 78, 254);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(0, 0, 0);
		--primary: rgb(36, 127, 144);
		--secondary: rgb(40, 40, 136);
		--font-color: white;

		--primary-hover: rgb(36, 139, 157);
		--primary-active: rgb(69, 158, 173);
		--secondary-hover: rgb(74, 74, 194);
		--secondary-active: rgb(26, 26, 168);
	}
}
